@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-nem-wine: #621132;
  --color-nem-berry: #9D2449;
  --color-nem-gold: #BC955C;
  --color-nem-gray: #98989A;
  --color-nem-black: #000000;
}